---
import { Icon } from "astro-icon";
---

<div
  class="w-full flex-col flex justify-center items-center p-5 bg-black relative text-white gap-3"
>
  <div class="flex gap-3">
    <a
      href="https://github.com/khaledtf19"
      target="_blank"
      class="flex flex-col justify-center items-center hover:opacity-70 bg-white rounded-full hover:cursor-pointer"
    >
      <div class="w-10">
        <Icon name="GitHub-icon" />
      </div>
    </a>
    <a
      href="https://www.linkedin.com/in/khaledtf19/"
      target="_blank"
      class="flex flex-col justify-center items-center hover:opacity-70 bg-white rounded-full hover:cursor-pointer"
    >
      <div class="w-10">
        <Icon name="Linkedin-icon" />
      </div>
    </a>
  </div>

  <email>khaledtf19@gmail.com</email>
</div>
