---
import { Icon } from "astro-icon";
import NavData from "../data/NavData";
---

<nav
  class="fixed flex bg-gray-900 text-white p-5 w-full h-20 top-0 font-burtons"
>
  <ul class="flex justify-start items-center gap-5">
    {
      NavData.map((item) => (
        <li>
          <a href={item.path} class=" ">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
