---
import NavData from "../data/NavData";
---

<nav
  class="fixed flex backdrop-blur-md bg-transparent text-white p-5 w-full h-20 top-0 font-burtons z-50 font-DistantGalaxy md:text-3xl border-b border-white/5 shadow-xl"
>
  <ul class="flex justify-between w-full lg:px-20 items-center lg:gap-20">
    {
      NavData.map((item) => (
        <li>
          <a href={item.path} class=" ">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
