---
interface Props {
  name: string;
  label?: string;
  className?: string;
  justify?: "top" | "center" | "bottom";
}

const {
  name = "",
  label = "",
  className = "",
  justify = "center",
} = Astro.props as Props;
const justifyClass =
  justify === "center"
    ? "justify-center px-1"
    : justify === "top"
    ? "justify-start px-1"
    : "justify-end ";
---

<section
  class={`text-black w-full  min-h-[60vh] h-full ${justifyClass}  items-center flex flex-col ${className} `}
  id={name}
>
  <slot />
</section>
